:root {
  /* Цвета текста светлая тема */
  --primary-text-mode-light: #212121;
  --secondary-text-mode-light: #757575;
  --logo-dark-text: #000000;

  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  /* Цвета текста темная тема */
  --primary-text-mode-dark: #ffffff;
  --secondary-text-mode-dark: rgba(255, 255, 255, 0.6);
  /* Цвета фона */
  --main-bgc-mode-light: #ffffff;
  --secondary-bgc-mode-light: #f5f4fa;
  --bgc-dark: #2f303a;

  /* Цвета иконок */
  --icon-primary: rgba(175, 177, 184, 1);
  --icon-white: rgba(255, 255, 255, 1);

  /* Рамка  */
  --header-border-color: #ececec;
  --portfolio-item-border-cl: #eeeeee;

  /* Перехід анімований */
  --anim-duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-mode-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}
/* Скидання стилів спискам і посиланням */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Паттерн visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Стилі контейнера */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Загальні стилі всіх секцій */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* subtitle */
.subtitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* buttons */
.button {
  font-style: inherit;
  cursor: pointer;
  border: none;
}
.button--main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-mode-dark);
  cursor: pointer;

  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--anim-duration-timing-function),
  box-shadow var(--anim-duration-timing-function);
}
.button__text--main {
  margin-right: 10px;
}
.button__icon--main {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons-svg/icon-send.svg);
}
.button--main:hover,
.button--main:focus {
  background-color: var(--accent-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* header */
.header {
  border-bottom: 1px solid var(--header-border-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 94px;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo--dark {
  color: var(--logo-dark-text);
}
.logo--white {
  color: var(--primary-text-mode-dark);
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__item {
  position: relative;
  margin-right: 50px;
}
.nav__item:last-child {
  margin: 0;
}
.nav__link {
  color: var(--primary-text-mode-light);
  transition: color var(--anim-duration-timing-function);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  bottom: -33px;
  left: 0;
  
  content: '';
  display: block;
  width: 100%;
  height: 4px;
 
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Contacts */
.contacts {
  display: flex;

  margin-left: auto;

  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__item {
  margin-right: 50px;
}
.contacts__item:last-child {
  margin: 0;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-mode-light);

  transition: color var(--anim-duration-timing-function);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*hero*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    
    background-color: var(--bgc-dark);
    background-image: linear-gradient(to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.hero__button {
  margin: 0 auto;
}
.title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-mode-dark);
}

/* Особливості */
.features__list {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: 270px;
}
.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--secondary-bgc-mode-light);
}
.features__icon {
  width: 70px;
  height: 70px;
}
.fetures__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-mode-light);
}

/* Чим ми займаємось */
.activity {
  padding-top: 0;
}
.activity__list {
  display: flex;
  justify-content: space-between;
}
.activity__item {
  position: relative;
}
.activity__title-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);;
}
.activity__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-mode-dark);
}

/* Наша команда */
.employee {
  background-color: var(--secondary-bgc-mode-light);
}
.employee__list {
  display: flex;
  justify-content: space-between;
}
.employee__item {
  text-align: center;

  background-color: var(--main-bgc-mode-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.employee__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.employee__name,
.employee__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
}
.employee__position {
  margin-bottom: 16px;
  color: var(--secondary-text-mode-light);
}

/* Соціальні мережі */
.socials {
  display: flex;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: fill var(--anim-duration-timing-function), background-color var(--anim-duration-timing-function);
}
.socials__link--light {
  fill: var(--icon-primary);
  background-color: var(--main-bgc-mode-light);
}
.socials__link--dark {
  fill: var(--icon-white);
  background-color: rgba(255, 255, 255, 0.1);
}
.socials__link:hover,
.socials__link:focus {
  fill: var(--icon-white);
  background-color: var(--accent-color);
}
.socials__icon {
  width: 20px;
  height: 20px;
}

/* Клієнти */
.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--icon-primary);
  border-radius: 4px;
  fill: var(--icon-primary);

  transition: fill var(--anim-duration-timing-function), border-color var(--anim-duration-timing-function);
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bgc-dark);
}
.footer__wrapper {
  display: flex;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer__socials {
  margin-left: 70px;
  margin-top: 12px;
}
.footer__text {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-mode-dark);
}

/* Адреса */
.address {
  display: inline-block;
  width: 231px;
  font-family: inherit;
  font-style: inherit;
}
.address__item {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__item:last-child {
  margin-bottom: 0;
}
.address__location {
  color: var(--primary-text-mode-dark);
}
.address__mail,
.address__tel {
  color: var(--secondary-text-mode-dark);
}

/* Footer form */
.footer__form-wrapper {
  margin-left: 93px;
  margin-top: 12px;
}
.footer__form {
  display: flex;
}
.footer__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--primary-text-mode-dark);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer__input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer__input:focus {
  border-color: var(--accent-color);
}
.footer__button {
  margin-left: 12px;
}

/* Портфолио */

/* Фільтр */
.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-mode-light);

  border-radius: 4px;
  background-color: var(--secondary-bgc-mode-light);

  transition: color var(--anim-duration-timing-function), background-color var(--anim-duration-timing-function), box-shadow var(--anim-duration-timing-function);
}
.filter__button:hover,
.filter__button:focus {
  color: var(--primary-text-mode-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекти */
.projects__list {
  display: flex;
  flex-wrap: wrap;
}
.projects__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow var(--anim-duration-timing-function);
}
.projects__item:hover,
.projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects__wrapper {
  position: relative;
  overflow: hidden;
}
.projects__description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-text-mode-dark);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--anim-duration-timing-function);
}
.projects__item:hover .projects__description,
.projects__item:focus .projects__description {
  transform: translateY(0);
}
.projects__content {
  padding: 20px 24px;

  border: 1px solid var(--portfolio-item-border-cl);
  border-top: none;
}
.projects__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-mode-light);
}
.projects__category {
  font-style: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--secondary-text-mode-light);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0; 
  left: 50%;
  transform: translateX(-50%);

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--anim-duration-timing-function),
  visibility var(--anim-duration-timing-function);

}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--main-bgc-mode-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim-duration-timing-function);
}
.modal__title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--primary-text-mode-light);
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 5px;

  background-color: var(--main-bgc-mode-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close:hover .close__icon,
.close:focus .close__icon {
  fill: var(--accent-color);
}
.close__icon {
    width: 18px;
    height: 18px;

    fill: var(--logo-dark-text);

    transition: fill var(--anim-duration-timing-function);
}

/* Форма модального вікна */
.form__label {
  display: block;
  margin-bottom: 10px;
}
.form__text {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-mode-light);
}
.form__input-wrapper {
  position: relative;
  display: block;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border-color var(--anim-duration-timing-function);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill var(--anim-duration-timing-function);
}
.form__button {
  margin: 0 auto;
}

.textarea {
  margin-bottom: 20px;
}
.textarea__place {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border-color var(--anim-duration-timing-function);
}
.textarea__place:focus {
  border-color: var(--accent-color);
}
.textarea__place:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
}
.form__input:focus-visible,
.textarea__place:focus-visible {
  outline: transparent;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  
  color: var(--secondary-text-mode-light);
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border-radius: 2px;
  border: 2px solid var(--primary-text-mode-light);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-image: url(../images/icons-svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
}